alias aliases='cat ~/.aliases'

# some more ls aliases
alias ll='ls -alhF'
alias la='ls -A'
alias l='ls -CF'

alias subl='/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl'
alias redis='redis-server /usr/local/etc/redis.conf > /tmp/redis.log &'
alias findkill='~/bin/findkill'
alias jq='~/bin/jq'
#alias git='hub'

# CBT Aliases
alias cbt='cd ~/dev/projects/cbt && nvm use'
alias ntp='cd ~/dev/projects/node-uapi'
alias ntplink='rm -rf $(pwd)/node_modules/uapi ; ln -s $(pwd)/../node-uapi $(pwd)/node_modules/uapi && ll $(pwd)/node_modules/'
alias ntpunlink='rm $(pwd)/node_modules/uapi ; pwd && npm install && echo "NTP Installed from NPM package"'
alias tenv='NODE_ENV=test grunt db:init && NODE_ENV=test TZ=UTC'
alias tdebug='tenv node --inspect node_modules/mocha/bin/_mocha'
alias t='tenv mocha --reporter list'

# Ambisie Aliases
alias amb='cd ~/dev/projects/Ambisie && nvm use'
alias amlink='rm -rf $(pwd)/node_modules/ambisie-messenger ; ln -s $(pwd)/../ambisie-sendbird-messenger $(pwd)/node_modules/ambisie-messenger && ll $(pwd)/node_modules/ | grep ambisie-messenger'
alias amunlink='rm $(pwd)/node_modules/ambisie-messenger ; pwd && npm install && echo "Ambisie Messenger Installed from NPM package"'

