[color]
  branch = auto
  diff = auto
  status = auto
[core]
  quotepath = false
[merge]
  tool=kdiff3
[mergetool]
  keepBackup = true
[user]
  name = Ben Kitzelman
  email = benkitzelman@gmail.com
[alias]
  co = checkout
  ci = commit
  rb = rebase
  st = status
